@import '../../../Assets/base.scss';

.container{
    width: 100%;
    background-color: $blue2;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;

    .cardHeading{
        color: $white;
    }
}