@import '../../../Assets/base.scss';

.loginBtn{
    background-color: $white;
    border-radius: 49px;
    font-size: $heading3;
    color: $blue2;
    padding: 20px;
    width: 302px;
    height: 96px;
    border: none;
}