@import '../../../Assets/base.scss';

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 30vh;
    border-radius: 5px;
    background-color: red;
    background-image: url('../../../Assets/img/card-item.jpg');
    background-size: cover;
    transition: 0.2 ease-in-out;


    h3{
        color: $blue;
        font-weight: bold;
    }

    &:hover{
        background-color: $blue3;
        color: $blue;
        transition: 0.2 ease-in-out;
    }
}